* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding-top: 48px;
  padding-left: 48px;
  background-color: #333;
}

main {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

button {
  cursor: pointer;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}

button,
.todoInput {
  padding: 12px 20px;
}

.addTask {
  background-color: #252525;
  padding: 8px 24px;
  border: 1px solid #777;
}

.todoInput {
  width: 500px;
}

.todoItem button {
  margin-right: 8px;
  padding: 8px 24px;
}

.completed .todoText {
  opacity: 0.5;
  text-decoration: line-through;
  font-size: 20px;
}

/*  Button */

.todoItem {
  display: flex;
  align-items: center;
  margin: 8px 0;
  list-style: none;
} 

button{
  font-family: monospace;
  font-size: 1.5rem;
  color: #FAFAFA;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid #FAFAFA;
  background: #252525;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
}

button:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}





